In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df[df['target']==0]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2,0
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3,0
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3,0
169,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
df.cp.value_counts()

0    143
2     87
1     50
3     23
Name: cp, dtype: int64

In [6]:
df.thal.unique()

array([1, 2, 3, 0])

In [7]:
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

In [9]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [10]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=0)

In [12]:
pipe = Pipeline([('scaler', StandardScaler()), ('svc', SVC())])

In [13]:
pipe.fit(X_train, np.array(y_train).ravel())

Pipeline(steps=[('scaler', StandardScaler()), ('svc', SVC())])

In [14]:
y_hat = pipe.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score

score=accuracy_score(y_test, y_hat)
score

0.8552631578947368

In [16]:
X_test.iloc[0]

age          70.0
sex           1.0
cp            0.0
trestbps    145.0
chol        174.0
fbs           0.0
restecg       1.0
thalach     125.0
exang         1.0
oldpeak       2.6
slope         0.0
ca            0.0
thal          3.0
Name: 225, dtype: float64

In [17]:
pipe.predict([[70,1,0,145,174,0,1,125,1,2,0,0,3]])

array([0])

In [22]:
import pickle
with open('classifier.pkl', 'wb') as f:
        pickle.dump(pipe, f)

In [19]:
import pickle
pickle_in = open("classifier.pkl","rb")
classifier=pickle.load(pickle_in)

In [21]:
classifier.predict([[70,1,0,145,174,0,1,125,1,2,0,0,3]])

array([0])

In [4]:
!python -V

/bin/bash: python: command not found